html {
  height: 100%;
  width: 100%;
  background-color: black;
  /* background: #262626; */
  color: gray;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;

  scrollbar-width: thin;
  scrollbar-color: gray black;
}

body {
  margin: 0;
  padding: 0;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: calc(100vh - 4rem);
}
@media (max-width: 1920px) {
  .contentGrid {
    grid-template-columns: 1fr 8fr 1fr;
  }
}
@media (max-width: 1220px) {
  .contentGrid {
    grid-template-columns: 0fr 1fr 0fr;
  }
}

.browserCol { grid-area: 1 / 2 / 2 / 3; }

.browserCol h1, .browserCol h2, .browserCol h3 {
  margin: 0;
}

.title {
  height: 4rem;
  display: table;
}
.title h1 {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.col{
  /* outline: 1px solid wheat; */
  margin: 0.5em;
  padding: 0.5em;
  /* overflow: auto;  */
  /* max-height: 100vh;  */
  scrollbar-width:none;
  scrollbar-width: thin;
  scrollbar-color: gray black;
}


/* MARK: formatting */
.center {
  display: flex;
  justify-content: center;
}

.selectable {
  cursor: pointer;
}

.content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  justify-content: center;
}


/* MARK: card */
.card {
  padding: 1.5em;
  margin: 20px;
  
  border-radius: 12px;
  border-bottom-left-radius: 0;

  background: black;
  box-shadow:  16px 16px 40px #080808,
              -10px -10px 20px #141414;
}
.special {
  box-shadow:  16px 16px 40px #000e1a,
              -10px -10px 20px #004175;
}

.card .img-container img {
  /* max-height: 100%; */
  max-width: 100%;
  /* width: 100%; */
  max-height: 100%;
  /* max-height: auto; */
  /* width: auto; */
  margin: auto;

}

.card span img {
  width: 24px;
  position: relative;
  top: 6px;
}

.button,
.card a:not(h3 > a) {
  background-color: rgb(0, 98, 255, 0.3);
  padding: 4px 6px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  line-height: 2em;
}
.button:hover,
.card a:not(h3 > a):hover {
  background-color: rgba(0, 98, 255, 0.9);
}

.card h3 a {
  color: white;
}

.card-active {
  border: 1px solid white;
}

.name {
  font-size: 0.9em;
  position: relative;
  /* color: gray; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "";
}
.name h2,
.name h3 {
  display: inline-block;
  /* cursor: auto; */
}
.name:after {
  width: auto;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 83%);
  /* background-color: blue; */
}

.scale-limit {
  width: 3em;
}
